build/

.gradle/

*.iml
.idea/


*~
*.swp

local.properties

*.keystore
*.keystore.password
.classpath
.project
.settings/
.idea/
*.iml
gen/
bin/
libs/
target/
tmp/
*.swp
*~
pom.xml.releaseBackup
release.properties
build/
.gradle/
.classpath
.project
.settings/
.idea/
*.iml
gen/
bin/
libs/
target/
tmp/
*.swp
*~
pom.xml.releaseBackup
release.properties
build/
.gradle/
