<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.petmeds1800">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
            android:name=".PetMedsApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/application.name"
            android:theme="@style/application.theme">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity
                android:name=".ui.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/application.theme.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- TODO We should disble the orientation change during release -->
        <activity
                android:name=".ui.HomeActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity
                android:name=".ui.LoginActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.ForgotPasswordActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.soundcloud.android.crop.CropImageActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.IntroActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.SignUpActivity"
                android:screenOrientation="portrait"/>

        <activity android:name=".ui.BarcodeScanResultsActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.BarcodeScannerActivity"
                  android:clearTaskOnLaunch="true"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:screenOrientation="portrait"
                  android:stateNotNeeded="true"
                  android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name=".ui.checkout.AddNewEntityActivity"
                android:screenOrientation="portrait"/>

        <activity android:name=".ui.checkout.CheckOutActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.vet.ShowVetOnMapActivity"
            android:screenOrientation="portrait"/>

        <meta-data
                android:name="android.app.default_searchable"
                android:value="com.apkgetter.SearchResultsActivity"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <!--
          Optionally, register AnalyticsReceiver and AnalyticsService to support background
          dispatching on non-Google Play devices
        -->
        <receiver
                android:name="com.google.android.gms.analytics.AnalyticsReceiver"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>

        <service
                android:name="com.google.android.gms.analytics.AnalyticsService"
                android:enabled="true"
                android:exported="false"/>
        <service android:name=".service.RefillReminderService"/>
        <receiver android:name=".util.alarm.MedicationAlarmReceiver" />
        <service android:name=".util.alarm.MedicationSchedulingService" />
        <activity android:name=".ui.vet.VetDetailActivtiy"
                  android:screenOrientation="portrait"
        />

    </application>

</manifest>